.card {
  width: 280px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  // transform: translateX(75%);
  opacity: 0;
  z-index: 0;
  position: absolute;
}

.card--current {
  z-index: 1;
  opacity: 1;
}

.card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.card__badge {
  text-transform: uppercase;
  color: var(--bg-accent, #000080);
  font-size: 12px;
  line-height: 1.33;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__title {
  font-size: 36px;
  line-height: 1.33;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: 0.7px;
}

.card__description {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.card__price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.card__price-old {
  font-size: 16px;
  line-height: 2;
  color: var(--bg-accent, #000080);
}

.card__price-new {
  font-size: 20px;
  line-height: 1.6;
  text-decoration: none;
  font-weight: 600;
}

.card__price-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-second, #ffffff);
  background-color: var(--bg-accent, #000080);
  padding: 8px 20px;
  border: transparent;
  border-radius: 4px;
  margin-left: 14px;
}

@media (min-width: 768px) {
  .card {
    width: 608px;
    display: grid;
    grid-template-rows: auto auto;
  }

  .card__badge {
    text-align: center;
    margin-top: 30px;
  }

  .card__title {
    font-size: 56px;
    line-height: 1.43;
    margin-bottom: 16px;
    letter-spacing: 1.1px;
  }

  .card__description {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .card__price {
    margin-bottom: 20px;
  }

  .card__link {
    margin: 0;
    grid-row: 2 / 3;
  }

  .card__content-wrapper {
    grid-row: 1 / 2;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 1280px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .card__content-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .card__link {
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .card__badge {
    align-self: flex-start;
  }

  .card__title {
    text-align: left;
  }

  .card__description {
    width: 625px;
    text-align: left;
  }

  .card__price {
    align-self: flex-start;
  }
}
