.form__product-cost,
.form__choice {
  margin: 0;
  padding: 0;
  border: none;
}

.form__choice {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form__choice-title,
.form__choice-label {
  font-size: 16px;
  line-height: 1.5;
}

.form__choice-title {
  font-weight: 600;
  margin-bottom: 19px;
}

.form__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.form__choice-input--radio {
  appearance: none;
  margin: 0;
  min-width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--color-tertiary, #000080);
}

.form__choice-input--radio:checked {
  border: 2px solid var(--bg-accent, #000080);
}

.form__choice-input--radio:disabled {
  border: 2px solid #e2e2e2;
}

.form__choice-input--radio:disabled ~ .form__choice-label {
  color: var(--color-tertiary, #000080);
}

.form__choice-input--radio:checked.form__choice-input--radio::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: transparent;
  border-radius: 50%;
  background-color: var(--bg-accent, #000080);
  position: relative;
  top: 2px;
  left: 2px;
}

.form__choice-input--checkbox {
  appearance: none;
  display: block;
  min-width: 42px;
  height: 24px;
  border-radius: 12px;
  background-color: var(--color-tertiary, #000080);
  margin: 0;
}

.form__choice-input--checkbox:checked {
  background-color: var(--bg-accent, #000080);
}

.form__choice-input--checkbox::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--color-tertiary, #000080);
  background-color: var(--bg-primary, #ffffff);
  position: relative;
}

.form__choice-input--checkbox:checked.form__choice-input--checkbox::before {
  border: 2px solid var(--bg-accent, #000080);
  left: 100%;
  transform: translateX(-100%);
}

.form__choice-input--checkbox:disabled {
  border: 2px solid #e2e2e2;
  background-color: #e2e2e2;
}

.form__choice-input--checkbox:disabled.form__choice-input--checkbox::before {
  top: -2px;
  left: -2px;
  border-color: #e2e2e2;
}

.form__choice-input--checkbox:disabled ~ .form__choice-label {
  color: var(--color-tertiary, #000080);
}

.form__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__button {
  font-family: inherit;
  height: 40px;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
}

.form__button--apply {
  border: transparent;
  background-color: var(--bg-accent, #000080);
  color: var(--color-second, #ffffff);
  padding-top: 10px;
  padding-bottom: 10px;
}

.form__button--reset {
  color: var(--bg-accent, #000080);
  border: 2px solid var(--bg-primary, #ffffff);
  background-color: var(--color-second, #ffffff);

  &:hover,
  &:focus,
  &:active,
  &:disabled {
    color: var(--bg-second, #ffffff);
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .form__product-cost {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .form__choice--taste {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .form__choice--origin {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .form__buttons {
    flex-direction: row;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    justify-self: center;
  }

  .form__button {
    padding: 8px 20px;
  }
}
