.products__select-title {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  margin: 0;
  margin-right: 10px;
}

.products__select-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
}

.products__select-button,
.products__select-item {
  cursor: pointer;
  padding: 4px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  color: var(--bg-accent, #000080);
  background-color: inherit;
  text-align: left;
  text-transform: lowercase;
  width: 165px;
  min-height: 32px;
  border: none;
  box-sizing: border-box;

  &:hover,
  &:focus {
    background-color: #f0ebff;
  }
}

.products__select-button {
  padding-left: 10px;
  padding-right: 28px;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: 94% 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.products__select-button--default {
  background-image: url("../../icons/stack.svg#select-icon");
}

.products__select-button--pressed {
  background-image: url("../../icons/stack.svg#select-icon-opened");
}

.products__select-list,
.products__select-list--default {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 32px;
  left: 42%;
  z-index: 1;
  display: none;
}

.products__select-list--opened {
  display: block;
}


.products__select-item {
  background-color: var(--bg-catalog, #ffffff);

  &:hover,
  &:focus {
    background-color: #f0ebff;
  }
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.products__item {
  min-height: 420px;
  padding: 40px 20px 20px;
  box-sizing: border-box;
  background-color: var(--bg-primary, #000080);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;

  &:has(a):hover,
  &:has(a):focus-within {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: 768px) {
  .products__wrapper {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  .products__select-wrapper {
    margin-bottom: 0;
    align-self: flex-end;
  }

  .products__list {
    display: grid;
    grid-template-columns: repeat(2, 349px);
    gap: 30px;
    margin-bottom: 70px;
  }

  .products__item {
    min-height: 440px;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .products__select-title {
    margin-right: 10px;
  }
}

@media (min-width: 1440px) {
  .products__wrapper {
    padding-top: 0;
  }

  .products__select-wrapper {
    margin-right: 1px;
  }

  .products__list {
    grid-template-columns: repeat(3, 317px);
    margin-bottom: 60px;
  }

  .products__item {
    min-height: 460px;
    padding-right: 30px;
    padding-left: 30px;
  }
}
