.products__select-title {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  margin: 0;
  margin-right: 8px;
}

.products__select-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 16px;
  position: relative;
}

.products__select-wrapper select {
  appearance: none;
  cursor: pointer;
  padding: 4px 28px 4px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  color: var(--bg-accent, #000080);
  background-color: inherit;
  text-align: center;
  text-transform: lowercase;
  width: 165px;
  height: 32px;
  border: none;
}

.products__select-wrapper select:hover,
.products__select-wrapper select:focus {
  background-color: #f0ebff;
}

.products__select-wrapper::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 260px;
  transform: translateY(-50%);
  background-image: url("../../icons/stack.svg#select-icon");
  background-size: 10px 10px;
}

.products__select-wrapper select:focus .products__select-wrapper::before {
  background-image: url("../../icons/stack.svg#select-icon-opened");
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.products__item {
  min-height: 420px;
  padding: 40px 20px 20px;
  box-sizing: border-box;
  background-color: var(--bg-primary, #000080);
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  &:has(a):hover,
  &:has(a):focus-within {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: 768px) {
  .products__wrapper {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  .products__select-wrapper {
    margin-bottom: 0;
    align-self: flex-end;
  }

  .products__list {
    display: grid;
    grid-template-columns: repeat(2, 349px);
    gap: 30px;
    margin-bottom: 70px;
  }

  .products__item {
    min-height: 440px;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .products__select-title {
    margin-right: 10px;
  }
}

@media (min-width: 1440px) {
  .products__wrapper {
    padding-top: 0;
  }

  .products__select-wrapper {
    margin-right: 1px;
  }

  .products__list {
    grid-template-columns: repeat(3, 317px);
    margin-bottom: 60px;
  }

  .products__item {
    min-height: 460px;
    padding-right: 30px;
    padding-left: 30px;
  }
}
